<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>One skill</title>
</head>
<body>
  <div class="card text-center" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Skill id: <%= skills.id %></h5>
      <p class="card-text">Skill: <%= skills.name %></p>
      <p class="card-text">Skill type: <%= skills.type%></p>
      <a href="/skills/home" class="btn btn-primary">Back to Skills</a>
    </div>
  </div>
    
  </body>
</html>