<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class="jumbotron">
      <h1 class="display-4">Development Skills</h1>
      <p class="lead">Welcome to the application that helps you create your essential developer skill list.  </p>
      <hr class="my-4">
      <p>Click below to create your skill-set</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/skills/home" role="button">Start HERE</a>
      </p>
    </div>
  </body>
</html>
